<div>
    <h1>{{titulo}}</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!--<tr *ngFor="let pelicula of peliculas" (click)="seleccionarPelicula(pelicula.id_pelicula)">-->
            <tr *ngFor="let usuario of usuarios">
                <td>{{usuarios?.id}}</td>
                <td>{{usuarios.email}}</td>
            </tr>
        </tbody>
    </table>
</div>